<div *ngIf="images && images.length > 0" class="carousel__container">
  <a *ngFor="let image of images; let i = index" [routerLink]="[image.route]">
    <img
      [src]="image.imageSrc"
      [alt]="image.imageAlt"
      [ngClass]="{ 'image-active': selectedIndex === i }"
      class="fade"
    />
  </a>

  <div *ngIf="indicators" class="carousel-dot__container">
    <span
      *ngFor="let dot of images; let i = index"
      class="dot"
      [ngClass]="{ active: selectedIndex === i }"
      (click)="selectImage(i)"
    ></span>
  </div>
</div>
