<mat-card class="generic-card">
  <mat-card-header>
    <mat-card-title-group class="imgOrder">
      <img
        src="https://lh6.googleusercontent.com/UVuXiJiAN7qLpMsYHY90aU1oTD6pxxO77RyDgRJZ5tW30TeqXhsKIjJnV390B8QKEZUC4U0Pp5CSa0q_3jKp0vcJsFL1-3Ix5TY8s_MU0QYc_Mr-7178-Tj9-Fi4WC3REw=w1280"
      />
      <mat-card-title>Laís Ladeia B. Rocha</mat-card-title>
      <mat-card-subtitle>Psicóloga Responsável pelo Curso</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    {{ laisDescription }}
  </mat-card-content>
</mat-card>
