<main>
  <ul>
    <li *ngFor="let item of data">
      <mat-card class="generic-card">
        <mat-card-header>
          <mat-card-title-group class="imgOrder">
            <img src="{{ item.photo }}" alt="" />
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-subtitle>{{ item.status }}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{ item.description | slice : sliceOptions.start : sliceOptions.end }}
        </mat-card-content>
        <button
          class="arrow-down"
          *ngIf="item.description.length >= sliceOptions.default"
        >
          <span (click)="onExpandText($event)">{{ expandText }} </span>
        </button>
      </mat-card>
    </li>
  </ul>
</main>
