mat-toolbar {
  height: 80px;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #232859;

  padding: 2% 10%;
  border-bottom: 1px solid #3f49a0;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

li>button,
a {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 500;

  color: #ffffff;

  display: flex;
  align-items: center;
}

.whatsBtn {
  display: flex;
  gap: 5px;
  border: solid 1px #ffffff;
  border-radius: 4px;
  cursor: pointer;
}